<div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6"> 
        <div class="card">
            <div class="card-header" style="text-align: center;">
                <h2>Chnage Password</h2>
            </div>
            <div class="card-body">
                <form [formGroup] = "passForm" (ngSubmit)="changePassword()">
                    <label>New Password</label>
                    <input type="password"  formControlName="newPassword" class="form-control" />
                    <br />

                   <label>Confirm New Password</label>
                    <input type="password"  formControlName="confirmPassword" class="form-control" />
                    <br />

                    <div>
                        <input type="submit"  value="Change Password"  class="btn btn-success" />
                    </div>
                    <div>
                        <p class="text-danger">{{msg}}</p>
                    </div>
            </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"> </div>
</div>
